<%= content_for :title do %>
  <%= @profile.handle %>&rsquo;s following
<% end %>

<% if @profile.followings.any? %>
  <h1 class="text-2xl"><%= @profile.handle %>&rsquo;s follows</h1>
  <ol class="list-inside list-decimal">
    <% @profile.followings.each do |human| %>
      <li>
        <%= link_to human.handle, human_profile_path(human.handle) %>
      </li>
    <% end %>
  </ol>
<% else %>
  <h1 class="text-2xl"><%= @profile.handle %>&rsquo;s follows</h1>
  <p>None yet!</p>
<% end %>
