<h1 class="text-2xl">Import show</h1>

<p>
  Seasoning is very new. I&rsquo;m sorry to be the one to tell you, but you&rsquo;re an early
  adopter. As such, I&rsquo;m relying on you to help populate our database with interesting
  shows, which will benefit everyone.
</p>

<%= form_with url: importable_shows_path, class: "md:mr-2 md:inline", method: :get do |f| %>
  <%= f.text_field :q, placeholder: "Search", class: "text-field mr-2", value: params[:q] %>
  <%= f.submit "Search", class: "rounded-button" %>
<% end %>

<div>
  <% @results.each do |result| %>
    <div class="mx-0 my-2 rounded-md border border-dotted border-blue-500 p-1">
      <% if result.poster_url %>
        <%= image_tag result.poster_url, class: "border-2 border-solid border-yellow-700 p-1" %>
      <% end %>

      <div>
        <%= result.name %>
        <% if result.year %>
          (<%= result.year %>)
        <% end %>
      </div>

        <div>
          <%=
            button_to(
              "Import",
              importable_shows_path,
              params: { id: result.id },
              method: :create,
              class: "rounded-button"
            )
          %>
        </div>
      </div>
  <% end %>
</div>
