<%= content_for :title do %>
  Search
<% end %>

<h1 class="text-2xl">Search results</h1>

<% if @results.any? %>
  <div>
    <% @results.each do |result| %>
      <div class="mx-0 my-2 rounded-md border border-dotted border-blue-500 p-1">
        <% if result.already_imported_show %>
          <%= link_to show_path(result.already_imported_show.slug), data: { test_id: "imported-show-#{result.id}" } do %>
            <%= image_tag result.poster_url, class: "border-2 border-solid border-yellow-700 p-1" %>
          <% end %>
        <% else %>
          <%= button_to importable_shows_path, params: { id: result.id }, method: :post, class: "border-0 bg-transparent p-0", data: { test_id: "import-show-#{result.id}" } do %>
            <%= image_tag result.poster_url, class: "border-2 border-solid border-yellow-700 p-1 cursor-pointer" %>
          <% end %>
        <% end %>

        <div>
          <%= result.name %>
          <% if result.year %>
            (<%= result.year %>)
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results. Try searching something else.</p>
<% end %>
