<%# locals: (my_show:) %>

<% if my_show.note_to_self.present? %>
  <div
    class="
      my-4 border-t border-b border-solid border-orange-200 py-4
      collapsible-note
    "
  >
    <input
      type="checkbox"
      id="note-toggle-<%= my_show.id %>"
      class="collapsible-note-toggle"
      checked
    >

    <label for="note-toggle-<%= my_show.id %>" class="collapsible-note-header">
      <span class="collapsible-note-caret">▶</span>
      <h1 class="text-2xl">Note to self</h1>
    </label>

    <div class="collapsible-note-content">
      <div class="break-words rendered-markdown mt-3">
        <%= auto_link(markdown_to_html(my_show.note_to_self)).html_safe %>
      </div>

      <div class="mt-3">
        <%= link_to "Edit", edit_show_note_to_self_path(my_show.show.slug), class: "rounded-button" %>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Write note to self", edit_show_note_to_self_path(my_show.show.slug), class: "rounded-button" %>
<% end %>
