<%# locals: (show:) %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left">Number</th>
      <th class="text-left">Name</th>
      <th class="text-left">Episode count</th>
      <% if current_human %>
        <th class="text-left">Seen?</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% show.seasons.includes(:episodes).order(season_number: :asc).each do |season| %>
      <tr>
        <td><%= season.season_number %></td>
        <td>
          <%= link_to season_path(show.slug, season.slug) do %>
            <%= season.name %>
          <% end %>
        </td>
        <td><%= season.episodes.count %></td>
        <% if current_human %>
          <td><%= seen_current_season_message(current_human, season) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
