<%# locals: (show:) %>

<div class="my-4 border-t border-b border-solid border-orange-200 py-4">
  <h2 class="text-lg">FYI</h2>
  <ul class="list-inside list-disc">
    <% if show.tmdb_next_refresh_at %>
      <li>
        <span class="font-bold">Data last refreshed:</span>
        <span title="<%= show.tmdb_last_refreshed_at %>">
          <%= time_ago_in_words show.tmdb_last_refreshed_at %> ago
        </span>
      </li>
    <% end %>

    <% if show.tmdb_next_refresh_at %>
      <li>
        <span class="font-bold">Data will next be refreshed within 24 hours of</span>
        <span title="<%= show.tmdb_next_refresh_at %>">
          <%= show.tmdb_next_refresh_at.to_date %>
        </span>
      </li>
    <% end %>
  </ul>

  <% if current_human&.admin? %>
    <%= button_to "Refresh now!", show_refresh_path(show.slug), method: :post, class: "rounded-button" %>
  <% end %>
</div>
