<%= content_for :title do %>
  <%= @show.title %>
<% end %>

<div>
  <h1 class="text-2xl"><%= @show.title %></h1>

  <%= render "more_info", url: "https://www.themoviedb.org/tv/#{@show.tmdb_tv_id}" %>

  <div>
    <% if current_human %>
      <%= render "add_or_remove_show", show: @show, my_show: @my_show %>
    <% end %>

    <% if @my_show %>
      <%= render "choose_show_status_button", my_show: @my_show %>
      <div class="my-2">
        <%= render "note_to_self", my_show: @my_show %>
      </div>
    <% end %>
  </div>

  <div>
    <h2 class="text-xl">Poster</h2>
    <%= render "poster", size: "large", url: @show.poster.url, show: @show %>
  </div>

  <% if @show.seasons.length > 0 %>
    <div>
      <h2 class="text-xl">Seasons</h2>
      <%= render "seasons_list", show: @show %>
    </div>
  <% else %>
    <div>No seasons...</div>
  <% end %>

  <%= render "show_metadata", show: @show %>
</div>
