<%# locals: (rating:) %>

<span title="<%= rating %>/10 rating">
  <%= render "star", position: 1, rating: rating %>
  <%= render "star", position: 2, rating: rating %>
  <%= render "star", position: 3, rating: rating %>
  <%= render "star", position: 4, rating: rating %>
  <%= render "star", position: 5, rating: rating %>
  <%= render "star", position: 6, rating: rating %>
  <%= render "star", position: 7, rating: rating %>
  <%= render "star", position: 8, rating: rating %>
  <%= render "star", position: 9, rating: rating %>
  <%= render "star", position: 10, rating: rating %>
</span>
