<%= content_for :title do %>
  <%= @profile.handle %>&rsquo;s reviews
<% end %>

<h1 class="text-2xl"><%= @profile.handle %>&rsquo;s reviews</h1>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <h2 class="text-xl">
      <%= link_to "Review by #{review.author.handle}", proper_review_path(review) %>
    </h2>
    <div>
      <h2 class="text-lg">
        <%= review.season.show.title %> &mdash; <%= review.season.name %>
      </h2>
      <%= render "poster", url: review.season.poster.url, show: review.season.show, size: "small" %>

      <div>
        <% if review.rating %>
          <%= render "star_rating", rating: review.rating %>
        <% else %>
          No rating
        <% end %>
      </div>
      <div>
        <%= link_to "Read", proper_review_path(review) %>
      </div>
    </div>
  <% end %>

  <% if @has_previous_page || @has_next_page %>
    <div class="mt-4 flex justify-between items-center">
      <div>
        <% if @has_previous_page %>
          <%= link_to "← Previous", url_for(page: @page - 1), class: "rounded-button" %>
        <% end %>
      </div>

      <div>
        Page <%= @page %>
      </div>

      <div>
        <% if @has_next_page %>
          <%= link_to "Next →", url_for(page: @page + 1), class: "rounded-button" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No reviews yet!</p>
<% end %>
