<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %> &mdash; Seasoning</title>
    <% else %>
      <title>Seasoning</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <style type="text/css">
      body {
        background-color: rgb(246, 246, 247);
      }
    </style>
    <%= stylesheet_link_tag "app" %>
  </head>

  <body>

    <div>
      <div class="mx-1 my-2 flex flex-col justify-between md:flex-row">
        <div class="flex flex-col md:flex-row">
          <%= link_to root_path do %>
            <%= image_tag "logo_with_name.svg", class: "h-full" %>
          <% end %>
        </div>

        <div class="pr-2">
          <% if current_human.present? %>
            <%= render "show_search_bar" %>
            <%= link_to "Your page", human_profile_path(current_human.handle), class: "mr-2" %>
            <%= link_to "Settings", settings_path, class: "mr-2" %>

            <%# FIXME - make this a DELETE request %>
            <%= link_to "Log out", logout_path %>
          <% end %>
        </div>
      </div>
      <div class="mx-auto my-0 max-w-3xl p-2">
        <% flash.each do |key, message| %>
          <div class="flash flash-<%= key %>"><%= message %></div>
        <% end %>

        <%= yield %>

        <div class="mt-5 flex justify-evenly border-t border-dashed border-t-black">
          <% if current_human&.admin? %>
            <%= link_to "Admin", admin_path %>
          <% end %>

          <%= link_to "Roadmap", roadmap_path %>
          <%= link_to "Changelog", changelog_path %>
          <%= link_to "Credits", credits_path %>
        </div>
      </div>
    </div>
  </body>
</html>
