<!DOCTYPE html>

<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %>&mdash; Seasoning</title>
    <% else %>
      <title>Seasoning</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csp_meta_tag %>

    <style type="text/css">
      body {
        background-color: rgb(246, 246, 247);
      }
    </style>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div>
      <div
        class="
          sticky top-0 z-10 bg-gray-100 mx-1 my-2 pb-4 flex flex-col
          justify-between md:flex-row border-b border-gray-200
        "
      >
        <div class="flex flex-col md:flex-row">
          <%= link_to root_path do %>
            <%= image_tag "logo_with_name.svg", class: "h-full" %>
          <% end %>
        </div>

        <div class="pr-2">
          <% if current_human.present? %>
            <%= render "show_search_bar" %>
            <%= link_to "Your page", human_profile_path(current_human.handle), class: "mr-2" %>
            <%= link_to "Settings", settings_path, class: "mr-2" %>
            <%= button_to "Log out", logout_path, method: :delete, class: "link-looking-button", form_class: "inline", data: { turbo_confirm: "Are you sure you want to log out?" } %>
          <% end %>
        </div>
      </div>

      <div class="mx-auto my-0 max-w-3xl p-2">
        <div class="min-h-[2.5rem]">
          <% flash.each do |key, message| %>
            <div class="flash flash-<%= key %>"><%= message %></div>
          <% end %>
        </div>

        <% if returning_show_notifications.any? %>
          <div class="mb-4 space-y-3">
            <% returning_show_notifications.each do |notification| %>
              <div
                class="
                  bg-orange-50 border border-orange-200 rounded-lg p-4 flex
                  items-center justify-between
                "
              >
                <div class="flex-1">
                  <p class="text-orange-800">
                    <%= link_to "#{notification.show.title} is back!", show_path(notification.show.slug), class: "font-medium text-orange-900 hover:text-orange-700 underline" %>
                  </p>
                </div>

                <%= button_to "×", returning_show_notification_path(notification), method: :delete, class: "ml-3 text-orange-600 hover:text-orange-800 font-bold text-xl leading-none cursor-pointer bg-transparent border-none p-0", title: "Dismiss notification" %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>

        <div class="mt-5 flex justify-evenly border-t border-dashed border-t-black">
          <% if current_human&.admin? %>
            <%= link_to "Admin", admin_path %>
          <% end %>

          <%= link_to "Roadmap", roadmap_path %>
          <%= link_to "Changelog", changelog_path %>
          <%= link_to "Credits", credits_path %>
        </div>
      </div>
    </div>
  </body>
</html>
