<!DOCTYPE html>
<html>
  <head>
    <title>Seasoning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag "application" %>
    <style type="text/css">
      body {
        background-color: rgb(246, 246, 247);
      }

      #app-is-booting-up {
        font-family: sans-serif;
        width: 500px;
        margin: 0 auto;
        padding: 100px 0;
        color: #443d47;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
